<h3>Consulta de categorias</h3>
<p>Listagem de categorias cadastradas:</p>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome da categoria</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of categorias">
            <td>{{ c.id }}</td>
            <td>{{ c.nome }}</td>
            <td>
                <button class="btn btn-sm btn-outline-primary me-2" [routerLink]="['/pages/editar-categoria', c.id]">
                    Editar
                </button>
                <button class="btn btn-sm btn-outline-danger me-2" (click)="onDelete(c.id)">
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Quantidade de categorias:
                {{ categorias.length }}</td>
        </tr>
    </tfoot>
</table>