<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Agenda de tarefas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gerenciar categorias
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/pages/cadastrar-
                     categoria">Cadastrar categorias</a></li>
                        <li><a class="dropdown-item" routerLink="/pages/consultar-categorias">
                                Consultar categorias</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gerenciar tarefas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/pages/cadastrar-tarefa">
                                Cadastrar tarefas</a></li>
                        <li><a class="dropdown-item" routerLink="/pages/consultar-tarefas">
                                Consultar tarefas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>